[submodule "ext/patterns"]
	path = ext/patterns
	url = https://github.com/eschkufz/patterns
[submodule "ext/meta"]
	path = ext/meta
	url = https://github.com/eschkufz/meta
[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest
