[submodule "ext/patterns"]
	path = ext/patterns
	url = https://github.com/eschkufz/patterns
[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest
[submodule "ext/stl"]
	path = ext/stl
	url = https://github.com/eschkufz/stl
